@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="BanMeTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <Header />
    <MudMainContent>

        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>

    </MudMainContent>

    <br />

    <Footer />
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    MudTheme BanMeTheme = new MudTheme()
        {
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Darken1,
                Secondary = Colors.BlueGrey.Lighten1,
                Tertiary = Colors.Purple.Default,
                Background = Colors.Grey.Darken4,
            },

            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "roboto condensed", "Arial", "Helvetica", "sans-serif" }
                },

                H3 = new H3()
                {
                    FontFamily = new[] { "roboto condensed", "Arial", "Helvetica", "sans-serif" },
                    FontSize = "34px",
                    FontWeight = 600,
                    LineHeight = 2.0
                }
            }
        };
}
