@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="BanMeTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>

        <div class="top-row px-4">
            <Header />
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row px-4">
            <Footer />
        </div>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    MudTheme BanMeTheme = new MudTheme()
        {
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            }
        };
}
